// Import app variables
@import 'app-variables';

// Import the theme’s main ruleset - both index and platform specific.
@import '~nativescript-theme-core/scss/index';
@import '~nativescript-theme-core/scss/platforms/index.android';

// Import common styles
@import 'app-common';

.mb50 {
	margin-bottom : 50px;
}

.t24 {
	font-size : 24px;
}

.bold {
	font-weight : bold;
}

.center {
	text-align : center;
}

.preload {
	
}

.imageActions {
	width : 100px;
}

.modify{
	margin-right : 20px;
}

.entetePage {
	text-align : center;
	font-size : 20px;
	font-weight : bold;
	width : 90%;
}

.sousTitre {
	color : black;
	font-weight: bold;
	font-size: 20px;
	text-align : center;
}
.boutonAction {
	border-width : 10px;
	border-color : white;
	width : 60%;
	background-color : #fbc62d;
	color : white;
	border-radius : 20%;
	margin : 10px;
	
}
.page, .menu {
	background-color : #fbc62d;
}
  .Rectangle-15 {
	position: absolute;
	width: 100%;
	height: 4.35%;
	background-image: linear-gradient(to left, #7367ec, #7395ef);
	position: relative;
	display: inline-block; 
	z-index: 1;
  }
  
  .Version-2019 {
	width: auto;
	height: auto;
	margin-left: 37%;
	font-family: Montserrat;
	font-size: 14.5%;
	font-weight: bold;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.2;
	color: #ffffff;
	z-index: 2;
  }
  .Info-main {
	width: auto;
	height: auto;
	font-family: Montserrat;
	font-size: 17%;
	font-weight: bold;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.2;
	color: black;
	z-index: 2;
  }
  .Info-space{
	margin-left:5%;
	margin-top:50%;
  }

  .Header {
	width: 110%;
	height:100%;
	margin-bottom: 0%;
	z-index: 0;
  }
  .iPhone-XXS-11 {
	position: relative;
  
  }
  .Footer{
	width: 125%;
	height: 100%;
	margin-bottom: 0%;
	z-index: 0;
  }
  
  .textMenu{
	position:absolute;
	top:62.5%;
	left:36%;
	
	/* font */
	color: #7B7A78;
	text-decoration: underline;
	font-weight: bold;
	font-size: 20px;
	font-family: montserrat; 
	z-index: 2;
  }
  .IconTeam{
	padding:10%;
	width: 8%;
	height:8%;
	z-index:3;
  }
  .IconDefis{
	padding:10%;
	width: 8%;
	height:8%;; 
	z-index:3;
  }
  .IconScore{
	padding:10%;
	width: 8%;
	height:8%;; 
	z-index:3;
  }

.label {
	font-size : 20px;
	font-weight: bold;
	color : black;
	text-decoration: underline;
	margin-left : 20px;
}

.valeur {
	font-size : 18px;
	color : black;
	margin-left : 10%;
}

.titre {
	font-size : 40px;
}

.actionButton {
	margin : 0 10px;
}
